<section class="register form">
    <div class="form_inner">
        <h3 class="title">注册页面</h3>
        <div class="input_box">
            <input type="text" placeholder="请输入用户名"/>
        </div>
        <div class="input_box">
            <input type="number" placeholder="请输入11位手机号码" />
        </div>
        <div class="input_box">
            <input type="password" placeholder="请输入至少6位数密码" />
        </div>
         <div class="input_box pas_agin">
            <input type="password" placeholder="请重复输入密码" />
        </div>
         <div class="input_box ver_box">
            <input type="text" placeholder="请输入验证码" />
            <span class="ver_img">
                <img src=""/>
            </span>
        </div>
         <button type="button">注册</button>
         <p>有无注册?<a href="javascript:;">去登录</a></p>
    </div>
</section>