<include file="common/header"/>
<article class="blogdetail" id="detail">
    <div class="inner">
        <div class="url"><a href="/home/blog">博文列表</a>/<a href="javascript:;">博文详情页</a></div>
      <section class="content">
        <div class="img_box">
         <img :src="imgurl" alt="主图" />
     </div>
     <div class="content_box">
        <h3 class="title" v-text="title"></h3>
        <p>发布时间:{{regTime}}</p>
        <div class="info" v-html="content"></div>
    </div>
</section>
</div>
</article>
<include file="common/footer"/>
<script src="{$public_path}home/js/blogdetail.js"></script>