<include file="common/header"/>
<link rel="stylesheet" type="text/css" href="{$public_path}home/css/blog.css"/>
 <article class="blogpage" id="blog">
   <ul class="blog_ul">
       <li class="item flex" v-for="items in items">
           <div class="img_box">
               <img :src="items.imgurl" alt="主图"/>
           </div>
           <div class="item_right">
               <h3 class="title">{{items.title}}</h3>
               <div class="info">{{items.content}}</div>
           </div>
           <a href="javascript:;">查看详情 > </a>
       </li>
   </ul>
   <div class="page">
       <ul></ul>
   </div>
 </article>
<include file="common/footer"/>
<script src="{$public_path}home/js/blog.js"></script>