<include file="common/header" />
<link href="{$public_path}home/css/home.css" rel="stylesheet" />
 <article class="continaor home" id="index">
   <section class="left">
      <div class="img_box">
          <img src="{$public_path}home/images/m2.jpg"/>
      </div>
      <ul class="ulbox">
          <li class="item" @click="sliderHandle('blog')"><a href="javascript:;">所有文章</a></li>
          <li class="item" @click="sliderHandle('about')"><a href="javascript:;">关于我们</a></li>
      </ul>
   </section>
   <transtion name="slide-fade">
    <section v-show="blogShow" class="blogShow">
   <section class="textShow">
       <div class="search_box">
           <div class="input_box">
             <input type="text" name="search" placeholder="请输入搜索内容" v-model="searchText" @keyup = "getTitle"/>
             <span class="btn search_btn" @click="getTitle">搜索</span>
              <transtion name="fade">
             <ul class="selectList" v-show='flag'>
               <li class="item" v-for='(item,index) in selectList'>
                <a href="javascript:;" v-text="item.title" @click="getItem(item)"></a>
              </li>
               <span :key="0" v-if="selectList.length<1">没有符合条件的选项</span>
             </ul>
           </transtion>
           </div>
           <ul class="ulbox">
                <li v-for="(item,index) in items" class="item">
                  <a href="javacript:;" v-text="item.title" @click="itemSelect(item)"></a>
                </li>
           </ul>
       </div>
   </section>
   <section class="right">
       <h3 class="title"><span v-text="title"></span> <time>发布时间:<span v-text="time"></span></time></h3>
       <div class="img_box">
           <img :src="img" alt="文章图片"/>
       </div>
       <div class="content" v-html="content"></div>
   </section>
 </section>
      </transtion>
      <transtion name="slide-fade">
        <section class="about" v-show="aboutShow">
           一个90后半路出家的草根尼姑！！，，具体内容稍后......
        </section>
      </transtion>
 </article>
<include file="common/footer"/>
<script src="{$public_path}home/js/home.js"></script>
