<include file="common/header" />
<link href="{$public_path}home/css/home.css" rel="stylesheet" />
 <article class="continaor home" id="index">
   <section class="left">
      <div class="img_box">
          <img src="{$public_path}home/images/m2.png"/>
      </div>
      <ul class="ulbox">
          <li class="item"><a href="javascript:;">所有文章</a></li>
          <li class="item"><a href="javascript:;">所有留言</a></li>
          <li class="item"><a href="javascript:;">关于我</a></li>
      </ul>
   </section>
   <section class="textShow">
       <div class="search_box">
           <div class="input_box">
             <input type="text" name="search" placeholder="请输入搜索内容"/>
             <span class="btn search_btn">搜索</span>
           </div>
           <ul class="ulbox">
                <li class="item"><a href="javacript:;">文章title+id</a></li>
                <li class="item"><a href="javacript:;">文章title+id</a></li>
                <li class="item"><a href="javacript:;">文章title+id</a></li>
                <li class="item"><a href="javacript:;">文章title+id</a></li>
           </ul>
       </div>
   </section>
   <transtion name="fade">
   <section class="right">
       <h3 class="title">文章标题 <time>2018-07-06</time></h3>
       <div class="img_box">
           <img src="" alt="文章图片">
       </div>
       <div class="content">
          fdasfdasfdsafds fadsafdasfdasfdasfdfdasf
       </div>
   </section>
</transtion>
 </article>
<include file="common/footer"/>
<script src="{$public_path}home/js/home.js"></script>
