<include file="common/header" />
<link href="{$public_path}home/css/about.css" rel="stylesheet" />
<article class="about" id="about">
  <div class="about_content" >
    <h3 class="title">留言信息</h3>
      <ul class="aboutUl">
          <li class="item" v-for="item in items">
              <div class="minHeader">
                  <span class="user" v-text="item.nick_name"></span>
                  <span class="time" v-text="item.reg_time"></span>
              </div>
              <div class="content"><p v-text="item.messege"></p></div>
              <a href="javascript:;" class="btn">回复</a>
          </li>
      </ul>
  </div>
  <!-- 分页 -->
     <div class="paging flex fl-center">
        <a href="javascript:;" @click="pageTabHanlder(-1)">上一页</a>
          <ul class="pagUl flex">
           <li class="item" v-for="item in total"><a href="javascript:;" @click="pageHanlder(item)" :class="{'active':item==thispage?true:false}">{{item}}</a></li>
         </ul>
         <a href="javascript:;" @click="pageTabHanlder(1)">下一页</a>
      </div>
</article>
<include file="common/footer"/>
<script src="{$public_path}home/js/aboutus.js"></script>