html,body,h1,h2,h3,h4,h5,h6,p,span,ul,li,ol,a,b,dl,dt,dd,div,header,selction,nav,img,em,i{
    margin: 0;
    padding: 0
}
header,selction,nav{
    display: block;
}
html,body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
html{
    font: 12px/1.5 "微软雅黑";
}
body{
    background: #fff;
    position: relative
}
a{
    color: #333;
    text-decoration: none;
    transition: all 0.3s;
}
a:focus,a:hover{
    color: orange;
    text-decoration: underline;
    display: inline-block
}
img{
    display: inline-block;
    vertical-align: middle;
    border: none;
}
ul li,ol li{
    list-style-type: none
}
input,select,button,textarea{
    outline: none;
     -webkit-tap-highlight-color:rgba(0,0,0,0)
}
select{
    width: 150px;
    height: 30px;
    line-height: 30px;
}
.flex{
   -webkit-display: flex; 
   display: flex;
}
.fl-center{
     -webkit-justify-content: center;
     -webkit-align-self: center;
    justify-content: center;
    align-self: center;
}
.header{
    width: 100%;
    height: 70px;
    background:#333;
    line-height: 60px;
    font-size: 18px;
}
.header a{
    color: #fff;
}
.header .header_logo{
    float: left;
    padding:0 30px;
    font-size: 30px;
    font-weight: 800;
}
.header ul{
    float: right;
    padding: 0 30px;
}
.header ul li{
    display: inline-block;
    padding: 0 9px;
    color: #fff;
}
.header .active{
    color: green
}
.slider{
    width: 10%;
    height: 100vh;
    background: #333;
    color: #fff;
    float: left;
    text-align: center
}
.slider .itembox{
    color: #fff;
   font-size: 18px;
   font-weight: bolder;
   line-height: 36px;
   cursor: pointer
}
.slider .itembox .ulbox a{
    font-size: 14px;
    color: #fff;
}
.slider .itembox .ulbox a:hover,.slider .itembox .ulbox a:focus{
     color: orange;
}
table{
    width: 100%;
     border: 1px solid #ddd;
     margin-top: 30px;
}
table th,table td{
    border: 1px solid #ddd;
    height: 20px;
    line-height: 20px;
}
.markBox{
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}
.paging{
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
   /*  justify-content: space-between;
    flex: 1; */
}
.paging ul li{
    padding:0 10px;
}
.paging .active{
    color: orange;
}
.footer{
    width: 100%;
    height: auto;
    background: #e1e1e1;
    padding: 20px 0;
}
.footer .footer_inner{
   width: 80%;
   height: auto;
   text-align: center;
   margin: 0 auto;
}
.footer .footer_inner .title{
    font-size: 20px;
    font-weight: 500;
    height: 60px;
    line-height: 60px;
}
.footer .footer_inner .form{
    padding-top: 30px;
}
.footer .footer_inner input{
    width: 300px;
    height: 60px;
    line-height: 60px;
    border: 1px solid #ddd;
    padding-left: 10px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s
}
.footer .footer_inner input:focus,.footer .msgtext:focus{
    border-color: green
}
.footer .msg_box{
    margin-top: 20px;
    margin-bottom: 30px;
}
.footer .footer_inner .msgtext{
    width: 100%;
    max-width: 610px;
    height: 200px;
    padding-left: 10px;
    transition: all 0.3s
}
.footer .btn{
        width: 300px;
        height: 40px;
        background: green;
        border: none;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        transition: all 0.3s
    }
    .footer .btn:hover{
        background: #333
    }
    .footer .errinfo{
        color: red
    }
    .markBox .markInner{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1001;
        background: #fff;
        padding: 30px;
        color: green
    }
 .slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}   
 .fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

@media screen and (max-width: 1075px) {
    .header{
        font-size: 14px;
    }
    .header ul{
        padding: 0 12px ;
    }
}