.home{
  min-height: 1px;
  overflow: hidden;
    .left,.textShow,.right{
     float: left;
     text-align: center;
     padding: 20px 0;
   }
   .left{
    width: 20%;
    height: auto;
    background: #000;
      a{
      color: #fff;
      font-size: 16px;
      line-height: 40px;
    }

    }
  
    

   }
   .textShow{
    width: 20%;
    height: 100%;
    background: #ddd;
    color: #333;
      .input_box{
      width: 300px;
      height: 60px;
      line-height: 60px;
      border:1px solid #333;
      margin:0 auto;
      input{
        border:none;
        background: none;
        font-size: 16px;
      }
      span{
        font-size: 18px;
        transition: all 0.3s;
        cursor: pointer;
        &:hover{
          color: orange
        }
      }

  }
   .right {
    width: 60%;

   }

}
